<%= form_for(project) do |f| %>
  <% if project.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(project.errors.count, "error") %>
        prohibited this project from being saved:
      </h2>

      <ul>
      <% project.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title, :size => "80" %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
