<div>
  <%= link_to 'Download Completed Items CSV', projects_path(format: :csv), class: "csv-export" %>
</div>

<h2>Projects</h2>

<br class="clearfix" />

<ul>
  <% if @projects.empty? %>
  <li>No projects.</li>
  <% end %>
<% @projects.each do |project| %>
<li>
  <%= link_to project.title,  project_path(project) %>
  <span>
    <%= link_to 'Destroy', project,
                method: :delete, data: { confirm: 'Are you sure?' } %>
  </span>
</li>
<% end %>
</ul>

<div>
  <%= link_to 'New Project', new_project_path %>
</div>
