<div>
<%= form_tag(project_items_path(@project, format: :csv), { class: "csv-export", method: "get" }) do %>
  <div>
    <%= radio_button("item", "status", "all", { checked: true }) %>
    <%= label_tag "item_status_all", "All" %>
    <%= radio_button("item", "status", "done") %>
    <%= label_tag "item_status_done", "Done" %>
    <%= radio_button("item", "status", "pending") %>
    <%= label_tag "item_status_pending", "Not Done" %>
  </div>
  <%= submit_tag 'Download Items CSV' %>
<% end -%>
</div>

<h2><%= link_to @project.title, edit_project_path(@project) %> Items</h2>

<br class="clearfix" />

<%= render :partial => 'items/index', :locals => { project: @project } %>
