<ul id="project-items">
  <% if project.items.empty? %>
  <li>No items.</li>
  <% end %>
<% project.items.each do |item| %>
  <li class="<%= "item-#{item.to_param}" %> <%= "#{ 'done' if item.done? }" %>">
    <%= check_box_tag "item-done-#{item.to_param}", item.id, item.done? %>
    <%= item.action -%>
    <span><%= link_to 'edit', edit_project_item_path(project, item) %></span>
  </li>
<% end %>
</ul>

<%= link_to "New Item", new_project_item_path(project) %>
<%= button_to "Clear Completed Items", clear_project_path(project),
      :method => :delete, :id => "clearer" %>
