<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <!--[if lt IE 9]>
    <script src="http://html5.shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <title>Todo App</title>
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <header>
      <h1>Todo app</h1>
      <nav>
        <ul>
          <li><%= link_to 'Projects', projects_path %></li>
        </ul>
      </nav>
    </header>

    <div id="main">
      <p id="notice"><%= notice %></p>
      <%= yield %>
    </div>

    <footer>
      <p><%= Date.today.year %></p>
    </footer>
  </body>
</html>
